 .products {
	.product-list {
		margin-bottom: 2em;
		background: #000;
		
		&:after {
			content: "";
			display: table;
			visibility: hidden;
			clear: both;
		}

		>div {
			margin-bottom: 2em;
			padding: 1em;
			
			h1 {
				color: #fff;
				text-align: center;
				text-transform: uppercase;
				font-size: 2em;
				line-height: 1em;
				
				span {
					color: $highlight;
				}
			}
			
			>p {
				color: #fff;
				text-align: center;
			}
		}
		
		li {
			@include span-columns(5 alpha omega, 5);
			border-bottom: 1px solid #999;
			background: #000 url(/assets/img/css/products/list-bg.png) no-repeat scroll top right;

			a {
				display: block;
				padding: 1em;
				position: relative;
				padding-left: 100px;
				background: transparent;
				color: #fff;
				height: 88px;
				
				.title {
					padding: 8px 10px;
					
					h2, h3 {
						color: #fff;
						text-shadow: 1px 1px 3px #000;
						line-height: 1em;
						font-size: 1em;
					}
				}
				
				.product-thumb {
					position: absolute;
					top: 50%;
					left: 0;
					margin-top: -44px;
					width: 100px;
					height: 88px;
					
					background: #000 url(/assets/img/css/products/products-sprite-sm.png) no-repeat scroll 0 0;
				}
				
				.parent-test {
					&.product-thumb {
					}
				}

				&.parent-test-digital {
					.product-thumb {
						background-position: -100px 0;
					}
				}

				&.the-manual {
					.product-thumb {
						background-position: 0px -88px;
					}
				}

				&.parent-class-plus-manual {
					.product-thumb {
						background-position: -100px -88px;
					}
				}
				
				&.parent-class {
					.product-thumb {
						background-position: 0px -176px;
					}
				}

				&.parent-class-digital {
					.product-thumb {
						background-position: -100px -176px;
					}
				}

				&.parent-class-dvd {
					.product-thumb {
						background-position: 0px -264px;
					}
				}

				&.bootcamp-weekend {
					.product-thumb {
						background-position: -100px -264px;
					}
				}
				
				&.adhd-diagnose {
					.product-thumb {
						background-position: 0px -352px;
					}
				}
				
				&.rad-child {
					.product-thumb {
						background-position: -100px -352px;
					}
				}
				
				&.the-manual-digital {
					.product-thumb {
						background-position: 0px -440px;
					}
				}
				
				&.the-manual-gift {
					.product-thumb {
						background-position: -100px -440px;
					}
				}
			}
		}
	}

@include at-breakpoint($break-m) {
	.product-list {
		article {
			
		}
	}
}


@include at-breakpoint($break-l) {
	.product-list {
		>div {
			h1 {
				text-align: left;
			}

			>p {
				text-align: left;
			}
		}

		li {
			float: left;
			margin: 0 0 14px 9px;
			background: #000;
			width: 327px;
			border: none;
		
			a {
				display: block;
				width: 327px;
				height: 285px;
				padding: 0;
				background: #000 url(/assets/img/css/products/products-sprite.jpg) no-repeat scroll 0 0;
				border: 1px solid #999;
				
				.title {
					background: #303030;
					padding: 8px 10px;
					
					h2, h3 {
						color: #fff;
						text-shadow: 1px 1px 3px #000;
					}
					
					h2 {
						text-transform: uppercase;
						font-size: 1.25em;
					}
					
					h3 {
						font-size: 1em;
					}
				}
				
				.product-thumb {
					display: none;
				}
				
				&.parent-test {
					
				}

				&.parent-test-digital {
					background-position: -327px 0;
				}

				&.the-manual {
					background-position: 0 -285px;
				}

				&.parent-class-plus-manual {
					background-position: -327px -285px;
				}
				
				&.parent-class {
					background-position: 0px -570px;
				}

				&.parent-class-digital {
					background-position: -327px -570px;
				}

				&.parent-class-dvd {
					background-position: 0px -855px;
				}

				&.bootcamp-weekend {
					background-position: -327px -855px;
				}
				
				&.adhd-diagnose {
					background-position: 0px -1140px;
				}
				
				&.rad-child {
					background-position: -327px -1140px;
				}
				
				&.the-manual-digital {
					background-position: 0px -1425px;
				}
				
				&.the-manual-gift {
					background-position: -327px -1425px;
				}
			}
		}
	}
}


} /* /.products */


